.admin-home-main{
    position: relative;
    background-color: #234570;
    height: 100%;
}
.admin-table{
    position: absolute;
    height: 70vh;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    padding: 10px;
    overflow-y: scroll;

}
.admin-table::-webkit-scrollbar{
    display: none;
}
.admin-home-main>span{
    
    padding: 9px;
    position: fixed;
    top: 16%;
    left: 70px;
   display: flex;
   justify-content: space-around;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
}
.admin-home-main>span>button{
border: none;
padding: 7px;
border-radius: 10px;
}
.admin-home-main>span>button:nth-child(1){
    background-color: rgb(29, 160, 221);
    
}
.admin-home-main>span>button:nth-child(2){
    background-color: rgb(236, 60, 47);
    color: white;
}
.approve-btn,.user-delete-btn{
    padding: 4px;
    border: none;
    border-radius: 10px;
    
}
.approve-btn{
    background-color: yellowgreen;
}
.user-delete-btn{
    background-color: red;
    color: white;
}