.login {
  height: 80vh;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  position: absolute;
 
  border-radius: 10px;
  overflow: hidden;
  
}
.login > div {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 30px; */
}
.text-field {
  background: #f7495b;
  animation: slide 2s both;
  position: absolute;
  right: 0;
}

@keyframes slide {
  0%{
    position: absolute;
    left: 0;
    opacity: 0;
  }
  50%{
    position: absolute;
    left: 50%;
    opacity: .5;
  }
  100%{
    
    
    opacity: 1;
  }
}


.input{
 text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 186px;
  width: 250px;
  padding: 60px;
  margin-top: -17px;
}
.input-field{
font-weight: 600;

animation: slide2 2s both;
position: absolute;
left: 0;
}

@keyframes slide2 {
  from {
    transform : scale(1);
    opacity   : 0;
}
50% {
    transform : scale(0.75);
    opacity   : 0.25;
}
to {
    transform : scale(1);
    opacity   : 1;
}
}
.input-field>h1{
  font: caption;
  font-weight: 900;
  font-size: 35px;
  opacity: 0.9;
  margin-top: 33px;
}
.input>input{
  height: 40px;
    padding-left: 18px;
    border-radius: 27px;
    border: none;
    background: #e5d6d6;
    font-size: 1rem;
}
.input>button{
  background-color: #eb1e34;
    border: none;
    height: 32px;
    width: 115px;
    
    align-self: center;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.input>h6{
  letter-spacing: 2px;
  font: initial;
  font-size: 14px;
}
.input-field>img{
 
  width: 82px;
  margin-top: 20px;
}
.text-content{
  color: white;
  margin-top: 35%;
  text-align: center;
  font: initial;
  font-size: 33px;
  font-weight: 900;
}

.text-content>p:nth-child(2){
font-size: medium;
}
.text-content>p{
  margin-top: 10px;
}
.text-content>button{
  border: none;
  padding: 12px;
  width: 128px;
  margin-top: 21px;
  border-radius: 19px;
  font-size: 15px;
  font-weight: 600;
}

