.sk-timeslot-main{
    position: relative;
    background-color: #234570;
    height: 100%;
}
.sk-timeslot{
    position: absolute;
    height: 70vh;
    width: 90%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    overflow-y: scroll;
}
.sk-timeslot::-webkit-scrollbar{
    display: none;
}
.sk-timeslot-main>span{
position: fixed;
top: 11%;
left: 75px;
}
